[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_paths = collections
host_key_checking = False
timeout = 30
forks = 10
stdout_callback = default
callback_result_format = yaml
retry_files_enabled = False

[privilege_escalation]
become = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
